<ul class="nav nav-pills">
    <li class="active">
      <a href="#">MN Lake Fish Finder</a>
    </li>
    <li><a href="#">...</a></li>
    <li><a href="#">...</a></li>
</ul>

<select [(ngModel)]="speciesInput">
    <option value="" disabled selected>Select a species</option>
    <option *ngFor="let s of species" [ngValue]="s.Id">{{s.Species}}</option>
</select>

<select [(ngModel)]="countyInput">
    <option value="" disabled selected>Select a county</option>
    <option value="All" [ngValue]="0">All of MN</option>
    <option *ngFor="let c of counties" [ngValue]="c.Id">{{c.County}}</option>
</select>
    
    <button (click)="searchLakes(countyInput)">Search</button>
    <p>{{searchstatus}}</p>

<table class="table" mdbTable class="z-depth-1">
    <thead>
        <tr>
        <!-- <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="fishtable" [sortBy]="headElements[i]">{{head | titlecase}}
            <mdb-icon fas icon="sort"></mdb-icon>
        </th> -->
        <th>#</th>
        <th [mdbTableSort]="fishtable" sortBy="name">Name</th>
        <th [mdbTableSort]="fishtable" sortBy="speciesdata.averageWeight">Average Weight</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.zero">0-5"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.one">6-7"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.two">8-9"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.three">10-11"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.four">12-14"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.five">15-19"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.six">20-24"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.seven">25-29"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.eight">30-34"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.nine">35-39"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.ten">40-44"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.eleven">45-49"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.twelve">50-100"</th>
        <th [mdbTableSort]="fishtable" sortBy="fishlengths.total">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lake of fishtable; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{lake.name}}</td>
        <td>{{lake.speciesdata.averageWeight}}</td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.zero < 20 && lake.fishlengths.zero > 0, 'fishcountmed': lake.fishlengths.zero < 50 && lake.fishlengths.zero > 20, 'fishcounthigh': lake.fishlengths.zero > 50 && lake.fishlengths.zero > 20}" >{{lake.fishlengths.zero}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.one < 20 && lake.fishlengths.one > 0, 'fishcountmed': lake.fishlengths.one < 50 && lake.fishlengths.one> 20, 'fishcounthigh': lake.fishlengths.one > 50 && lake.fishlengths.one >20}" >{{lake.fishlengths.one}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.two < 20 && lake.fishlengths.two > 0, 'fishcountmed': lake.fishlengths.two < 50 && lake.fishlengths.two > 20, 'fishcounthigh': lake.fishlengths.two > 50 && lake.fishlengths.two >20}" >{{lake.fishlengths.two}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.three < 20 && lake.fishlengthsthree > 0, 'fishcountmed': lake.fishlengths.three < 50 && lake.fishlengths.three > 20, 'fishcounthigh': lake.fishlengths.three > 50 && lake.fishlengths.three >20}" >{{lake.fishlengths.three}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.four < 20 && lake.fishlengths.four > 0, 'fishcountmed': lake.fishlengths.four < 50 && lake.fishlengths.four > 20, 'fishcounthigh': lake.fishlengths.four > 50 && lake.fishlengths.four >20}" >{{lake.fishlengths.four}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.five < 20 && lake.fishlengths.five > 0, 'fishcountmed': lake.fishlengths.five < 50 && lake.fishlengths.five > 20, 'fishcounthigh': lake.fishlengths.five > 50 && lake.fishlengths.five >20}" >{{lake.fishlengths.five}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.six < 20 && lake.fishlengths.six > 0, 'fishcountmed': lake.fishlengths.six < 50 && lake.fishlengths.six > 20, 'fishcounthigh': lake.fishlengths.six > 50 && lake.fishlengths.six >20}" >{{lake.fishlengths.six}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.seven < 20 && lake.fishlengths.seven > 0, 'fishcountmed': lake.fishlengths.seven < 50 && lake.fishlengths.seven > 20, 'fishcounthigh': lake.fishlengths.seven > 50 && lake.fishlengths.seven >20}" >{{lake.fishlengths.seven}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.eight < 20 && lake.fishlengths.eight > 0, 'fishcountmed': lake.fishlengths.eight < 50 && lake.fishlengths.eight > 20, 'fishcounthigh': lake.fishlengths.eight > 50 && lake.fishlengths.eight >20}" >{{lake.fishlengths.eight}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.nine < 20 && lake.fishlengths.nine > 0, 'fishcountmed': lake.fishlengths.nine < 50 && lake.fishlengths.nine > 20, 'fishcounthigh': lake.fishlengths.nine > 50 && lake.fishlengths.nine >20}" >{{lake.fishlengths.nine}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.ten < 20 && lake.fishlengths.ten > 0, 'fishcountmed': lake.fishlengths.ten < 50 && lake.fishlengths.ten > 20, 'fishcounthigh': lake.fishlengths.ten > 50 && lake.fishlengths.ten >20}" >{{lake.fishlengths.ten}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.eleven < 20 && lake.fishlengths.eleven > 0, 'fishcountmed': lake.fishlengths.eleven < 50 && lake.fishlengths.eleven > 20, 'fishcounthigh': lake.fishlengths.eleven > 50 && lake.fishlengths.eleven >20}" >{{lake.fishlengths.eleven}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.twelve < 20 && lake.fishlengths.twelve > 0, 'fishcountmed': lake.fishlengths.twelve < 50 && lake.fishlengths.twelve > 20, 'fishcounthigh': lake.fishlengths.twelve > 50 && lake.fishlengths.twelve >20}" >{{lake.fishlengths.twelve}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths.total < 50, 'fishcountmed': lake.fishlengths.total < 100 && lake.fishlengths.total > 50, 'fishcounthigh': lake.fishlengths.total > 100 && lake.fishlengths.total >50}" >{{lake.fishlengths.total}}</p></td>
        </tr>
    </tbody>
</table>
