<ul class="nav nav-pills">
    <li class="active">
      <a href="#">MN Lake Fish Finder</a>
    </li>
    <li><a href="#">...</a></li>
    <li><a href="#">...</a></li>
</ul>

<select [(ngModel)]="speciesInput">
    <option value="" disabled selected>Select a species</option>
    <option *ngFor="let s of species" [ngValue]="s.Id">{{s.Species}}</option>
</select>

<select [(ngModel)]="countyInput">
    <option value="" disabled selected>Select a county</option>
    <option value="All" [ngValue]="0">All of MN</option>
    <option *ngFor="let c of counties" [ngValue]="c.Id">{{c.County}}</option>
</select>
    
    <button (click)="searchLakes(countyInput)">Search</button>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Average Weight</th>
        <th scope="col">0-5"</th>
        <th scope="col">6-7"</th>
        <th scope="col">8-9"</th>
        <th scope="col">10-11"</th>
        <th scope="col">12-14"</th>
        <th scope="col">15-19"</th>
        <th scope="col">20-24"</th>
        <th scope="col">25-29"</th>
        <th scope="col">30-34"</th>
        <th scope="col">35-39"</th>
        <th scope="col">40-44"</th>
        <th scope="col">45-49"</th>
        <th scope="col">50-100"</th>
        <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lake of fishtable; let i=index">
        <th scope="row">{{i+1}}</th>
        <th scope="row">{{lake.name}}</th>
        <td>{{lake.speciesdata.averageWeight}}</td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[0] < 20 && lake.fishlengths[0] > 0, 'fishcountmed': lake.fishlengths[0] < 50 && lake.fishlengths[0] > 20, 'fishcounthigh': lake.fishlengths[0] > 50 && lake.fishlengths[0] >20}" >{{lake.fishlengths[0]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[1] < 20 && lake.fishlengths[1] > 0, 'fishcountmed': lake.fishlengths[1] < 50 && lake.fishlengths[1] > 20, 'fishcounthigh': lake.fishlengths[1] > 50 && lake.fishlengths[1] >20}" >{{lake.fishlengths[1]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[2] < 20 && lake.fishlengths[2] > 0, 'fishcountmed': lake.fishlengths[2] < 50 && lake.fishlengths[2] > 20, 'fishcounthigh': lake.fishlengths[2] > 50 && lake.fishlengths[2] >20}" >{{lake.fishlengths[2]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[3] < 20 && lake.fishlengths[3] > 0, 'fishcountmed': lake.fishlengths[3] < 50 && lake.fishlengths[3] > 20, 'fishcounthigh': lake.fishlengths[3] > 50 && lake.fishlengths[3] >20}" >{{lake.fishlengths[3]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[4] < 20 && lake.fishlengths[4] > 0, 'fishcountmed': lake.fishlengths[4] < 50 && lake.fishlengths[4] > 20, 'fishcounthigh': lake.fishlengths[4] > 50 && lake.fishlengths[4] >20}" >{{lake.fishlengths[4]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[5] < 20 && lake.fishlengths[5] > 0, 'fishcountmed': lake.fishlengths[5] < 50 && lake.fishlengths[5] > 20, 'fishcounthigh': lake.fishlengths[5] > 50 && lake.fishlengths[5] >20}" >{{lake.fishlengths[5]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[6] < 20 && lake.fishlengths[6] > 0, 'fishcountmed': lake.fishlengths[6] < 50 && lake.fishlengths[6] > 20, 'fishcounthigh': lake.fishlengths[6] > 50 && lake.fishlengths[6] >20}" >{{lake.fishlengths[6]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[7] < 20 && lake.fishlengths[7] > 0, 'fishcountmed': lake.fishlengths[7] < 50 && lake.fishlengths[7] > 20, 'fishcounthigh': lake.fishlengths[7] > 50 && lake.fishlengths[7] >20}" >{{lake.fishlengths[7]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[8] < 20 && lake.fishlengths[8] > 0, 'fishcountmed': lake.fishlengths[8] < 50 && lake.fishlengths[8] > 20, 'fishcounthigh': lake.fishlengths[8] > 50 && lake.fishlengths[8] >20}" >{{lake.fishlengths[8]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[9] < 20 && lake.fishlengths[9] > 0, 'fishcountmed': lake.fishlengths[9] < 50 && lake.fishlengths[9] > 20, 'fishcounthigh': lake.fishlengths[9] > 50 && lake.fishlengths[9] >20}" >{{lake.fishlengths[9]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[10] < 20 && lake.fishlengths[10] > 0, 'fishcountmed': lake.fishlengths[10] < 50 && lake.fishlengths[10] > 20, 'fishcounthigh': lake.fishlengths[10] > 50 && lake.fishlengths[10] >20}" >{{lake.fishlengths[10]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[11] < 20 && lake.fishlengths[11] > 0, 'fishcountmed': lake.fishlengths[11] < 50 && lake.fishlengths[11] > 20, 'fishcounthigh': lake.fishlengths[11] > 50 && lake.fishlengths[11] >20}" >{{lake.fishlengths[11]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[12] < 20 && lake.fishlengths[12] > 0, 'fishcountmed': lake.fishlengths[12] < 50 && lake.fishlengths[12] > 20, 'fishcounthigh': lake.fishlengths[12] > 50 && lake.fishlengths[12] >20}" >{{lake.fishlengths[12]}}</p></td>
        <td><p [ngClass]="{'fishcountlow': lake.fishlengths[13] < 50, 'fishcountmed': lake.fishlengths[13] < 100 && lake.fishlengths[13] > 50, 'fishcounthigh': lake.fishlengths[13] > 100 && lake.fishlengths[13] >50}" >{{lake.fishlengths[13]}}</p></td>
        </tr>
    </tbody>
</table>
